[Unit]
Description=Simple libqrencode wrapper server

[Service]
Type=simple
ExecStart=/usr/bin/qrencode-server
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
